* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  color: inherit;
}

body {
  padding: 40px 77px 24px 77px;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main > section > p {
  font-family: "Inconsolata";
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333;
  font-size: 24px;
}

h1 {
  font-family: "Space Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 95px;
  letter-spacing: -0.035em;
  color: #333;
  margin-bottom: 40px;
}

section {
  width: 45%;
}

section img {
  width: 100%;
  margin-top: 5rem;
}

.paragraph {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
  text-transform: none;
  width: 380px;
  margin-bottom: 65px;
}

button {
  padding: 24px 43px;
  background-color: #333333;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  color: #fff;
  font-style: normal;
  border: none !important;
}

.author {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 2rem;
  /* identical to box height */

  text-align: center;

  color: #bdbdbd;
}

@media screen and (max-width: 400px) {
  body {
    padding: 2rem !important;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  section {
    width: 100% !important;
  }

  img {
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 45px;
    line-height: 71px;
  }
}
